In [1]:

import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from numpy import unique

In [2]:

df = pd.read_csv('/content/sample_data/Data_House.csv')

In [3]:
df.shape

(21613, 21)

In [4]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [5]:
for d_col in df.columns:
    print(d_col, ': ', len(unique(df[d_col])))

id :  21436
date :  372
price :  4028
bedrooms :  13
bathrooms :  30
sqft_living :  1038
sqft_lot :  9782
floors :  6
waterfront :  2
view :  5
condition :  5
grade :  12
sqft_above :  946
sqft_basement :  306
yr_built :  116
yr_renovated :  70
zipcode :  70
lat :  5034
long :  752
sqft_living15 :  777
sqft_lot15 :  8689

In [6]:
df = df.dropna() # dropping null entities

In [7]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [9]:
Y = df['price']   # target column i.e price
X = df.drop(['id', 'date', 'price'], axis=1) # independent columns by dropping unnecessary column `id` and `date`

In [10]:
X.columns

Index(['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [ ]:
from sklearn.ensemble import ExtraTreesClassifier
model = ExtraTreesClassifier()
model.fit(X,Y)
print(model.feature_importances_) #use inbuilt class feature_importances of tree based classifiers
#plot graph of feature importances for better visualization
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
feat_importances.nlargest(len(X)).plot(kind='barh')
#plt.show()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=2)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
reg=LinearRegression()
reg.fit(X_train,Y_train)

In [ ]:

prediction=reg.predict(X_test)

In [ ]:
sns.distplot(Y_test-prediction)

In [ ]:
plt.scatter(Y_test, prediction)

In [ ]:
compare = pd.DataFrame({'Actual': Y_test, 'Predicted': prediction})

In [ ]:

compare.head()

In [ ]:
from sklearn.metrics import r2_score

In [ ]:

r2_score(Y_test, prediction)

In [ ]:
X.columns